scikit-learn~=0.23.1
nose
sphinx
xgboost~=1.1.1
hyperopt~=0.2.4
django~=3.0.7
sphinx-rtd-theme
channels~=2.4.0
mysql-connector-python~=8.0.20
pandas~=1.0.5
numpy~=1.19.0
scipy~=1.4.1
mysqlclient-1.4.6-cp36-cp36m-win_amd64.whl
vaderSentiment~=3.3.2
googletrans~=3.0.0
tweepy~=3.8.0
wordcloud~=1.7.0
seaborn~=0.10.1
nltk~=3.5
csv


bokeh~=2.1.1
setuptools~=47.3.1
matplotlib~=3.2.2
requests~=2.24.0
pyquery
lxml
