scikit-learn
nose
sphinx
xgboost
hyperopt
django
sphinx-rtd-theme
channels
mysql-connector-python
pandas
numpy
scipy
mysqlclient-1.4.6-cp36-cp36m-win_amd64.whl
vaderSentiment
googletrans
tweepy
wordcloud
seaborn
nltk
csv

