<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}<title>Web Apps</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.bokeh.org/bokeh/release/bokeh-2.1.1.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.1.1.min.css" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Add additional CSS and JS in static files -->
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" >
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky-footer.css' %}" rel="stylesheet">
    <script src="{% static 'js/modernizr.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">Web Apps</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Apps</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'chat:index' %}">Chat</a>
              <a class="dropdown-item" href="{% url 'datamgt:index' %}">Data Mgt</a>
              <a class="dropdown-item" href="{% url 'analysis:index' %}">Analysis</a>
              <a class="dropdown-item" href="{% url 'plotter:index' %}">Plotter</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chrissy's Apps</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="{% url 'sentiment:index' %}">Sentiment Analysis</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'pages:about' %}">About</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main">
      <div class="container">
        {% block content %}{% endblock content %}
      </div>
    </main>


<footer class="footer">
  <div class="container text-center">
    <span class="text-muted"> © 2020 Copyright: <a href="https://google.com/"> Timmos</a></span>
  </div>
</footer>




  </body>
</html>




