{% extends 'base.html' %}

{% block content %}
    <main role="main">

      <!-- Main jumbotron for a primary message -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Analysis</h1>
          <p>Analysis page to learn from the data.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">



      </div> <!-- /container -->

    </main>
{% endblock content %}