{% extends 'pages/base.html' %}

{% block content %}
        <div class="container">
          <h1 class="display-3">Sentiment Analysis</h1>
          <p>This page performs sentiment analysis on Twitter data.</p>
        </div>

      <div class="container">
        <div class="row">
            <form method="post" action >

            <div class="row">
                <label for="tw_search">Twitter search:</label>
                <input type ="text" id = "tw_search" name = "tw_search">
                 {% csrf_token %}
                <button class="button">Analyse Tweets</button>
            </div>

          </form>
        </div>
          <div class="row">
            {{ div | safe }}
          </div>

      </div>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.1.1.min.js"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.1.1.min.js"></script>
        {{ script | safe }}

{% endblock content %}