{% extends 'pages/base.html' %}

{% block content %}

      <!-- Main jumbotron for a primary message -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Sentiment Analysis</h1>
          <p>Sentiment analysis page to download from Twitter for analysis.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">


      </div> <!-- /container -->

{% endblock content %}