{% extends 'pages/base.html' %}
{% include "pages/messages.html" %}
{% block content %}
      <!-- Main jumbotron for a primary message -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Data Management</h1>
          <p>Data mangement page to download and load data for analysis.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <form action="" method="post">
              {% csrf_token %}
              <table>
                  {{ form.as_table }}
              </table>
              <input type="submit" value="Submit">
            </form>
          </div>
            <div class="col-md-4">
                <textarea id="messages-log" cols="100" rows="15"></textarea><br/>
            </div>
        </div>

      </div> <!-- /container -->
    <script>
      window.setTimeout(function() {
        $(".alert").fadeTo(1000,0).slideUp(1000, function(){
            $(this).remove();
        });
      },2000);
    </script>
{% endblock content %}